[submodule "Thingy/vendor/spdlog"]
	path = Thingy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Thingy/vendor/imgui"]
	path = Thingy/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Thingy/vendor/SDL_net"]
	path = Thingy/vendor/SDL_net
	url = https://github.com/libsdl-org/SDL_net
[submodule "Thingy/vendor/SDL_mixer"]
	path = Thingy/vendor/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "Thingy/vendor/curl"]
	path = Thingy/vendor/curl
	url = https://github.com/BroGamesJaj/curl.git
	branch = curl_8_11_1_c
